@charset "EUC-KR";

#wrapper {
  margin: 0 auto;
  width: 100%;
}

footer {
  height: 180px;
  width: 100%;
  overflow: hidden;
  background: white url('https://mblogthumb-phinf.pstatic.net/MjAxNzA1MzFfMjU1/MDAxNDk2MTkyODg4NTQ2.H4KeGsiJ69qfu3kQL5v2Vq5uIYt9jdcTytIM6-EjcQYg.UTAUUrBtrMfxyQvXJ73OP7yPbhxlqnLl0jgodmXWPsAg.JPEG.heeyy2/%EB%8F%84%EC%84%9C%EA%B4%80%EC%82%AC%EC%A7%84_24.jpg?type=w800') no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* The two lines below make the photo opaque. No Apacity = 1  Full Opacity = 0  :-) */
  opacity: 0.6;
  line-height: 2.8em;
}

h2 {
  margin-top: 1em;
  font-family: Arial, San-serif;
  font-size: 50px;
  Text-align: center;
  color: lightcyan;
  width: 100%;  
}