@charset "UTF-8";
.container1{
	display: grid;
	grid-template-columns: 20vw 60vw 20vw;
	height: 100vh;
	grid-template-areas:'left content right';
	margin-bottom:1em;					
						
}
.container1 div {
	background-color: white;
	padding:0px;
	border: none;
	/* border: solid 1px black; */
}
.infinite-list div {
	margin-left:45px;
}
a{
	text-decoration:none;
}
a:link{
	color:black; text-decoration:none;
}
a:visited{
	color:black; text-decoration:none;
}
.left{
	grid-area:left;
}

.content{
	grid-area:content;
}
.infinite-list{
  /* We need to limit the height and show a scrollbar */
  width:800px;
  height: 900px;
  overflow: auto;

  /* Optional, only to check that it works with margin/padding */
  margin: auto;
  margin-top: 15px;
  padding: 20px;
  border: 5px groove;
}
/* Optional eye candy below: */
.feed-frame{
	padding:10px;
	margin-top:30px;
}
#nick{
	font-size:20px;
	font-weight:bold;
}
#regi{
	font-size:15px;
	color:gray;
}
#feed-img-frame{
	width:556px;
}
#feed-img{
	width:100%;
	height:100%;
}
#img1{
	width:15px;
	height:15px;
}
#btn1{
	background-color:white;
	border:none;
	cursor:pointer;
}
#commenticon{
	width:20px;
	height:20px;
}
#commentPopBtn{
	background-color:white;
	border:none;
	cursor:pointer;
}
#feedcontent{
	margin-top:20px;
}
#likecount1{
	font-size:20px;
	font-weight:bold;
}
#cntComment{
	font-size:20px;
	font-weight:bold;
}
#title1{
	font-size:25px;
	font-weight:bold;
	vertical-align:middle;
}
#feedWriteBtn{
	background-color:white;
	border:none;
	cursor:pointer;
	vertical-align:middle;
}
#FeedWriteIcon{
	width:30px;
	height:30px;
}
.right{
	grid-area:right;
}
