@charset "UTF-8";
.container1{
	display: grid;
	grid-template-columns: 20vw 20vw 40vw 20vw;
	grid-template-rows:  50vh 40vh;
	height: 100vh;
	grid-template-areas:
						'left picture content right'
						'left info content right';
	margin-bottom:2.0em;
					
}
.container1 div {
	background-color: white;
	/* border: ridge black; */
	border: none;
}
a{
	text-decoration:none;
}
a:link{
	color:black; text-decoration:none;
}
a:visited{
	color:black; text-decoration:none;
}
.left{
	grid-area:left;
}
.picture{
	grid-area:picture;
}

.info{
	grid-area:info;
}
.title2{
	font-weight:bold;
	font-size:25px;
}
#updateIntro{
	background-color:white;
	border:none;
	cursor:pointer;
}
#updateInterest{
	background-color:white;
	border:none;
	cursor:pointer;
}
#update1{
	width:15px;
	height:15px;
}
.content{
	grid-area:content;
}
.feed-frame{
	padding:10px;
	margin-top:10px;
}
#nick{
	font-size:20px;
	font-weight:bold;
}
#regi{
	font-size:15px;
	color:gray;
}
#feed-img-frame{
	width:556px;
}
#feed-img{
	width:100%;
	height:100%;
}
#img1{
	width:15px;
	height:15px;
}
#btn1{
	background-color:white;
	border:none;
	cursor:pointer;
}
#commenticon{
	width:20px;
	height:20px;
}
#commentPopBtn{
	background-color:white;
	border:none;
	cursor:pointer;
}
#feedcontent{
	margin-top:20px;
}
#likecount1{
	font-size:20px;
	font-weight:bold;
}
#cntComment{
	font-size:20px;
	font-weight:bold;
}
.infinite-list{
  /* We need to limit the height and show a scrollbar */
  width: 650px;
  height: 860px;
  overflow: auto;

  /* Optional, only to check that it works with margin/padding */
  margin: auto;
  margin-top:20px;
  padding: 20px;
  border: 5px groove;
}
#title1{
	font-size:25px;
	font-weight:bold;
	vertical-align:middle;
}
#feedWriteBtn{
	background-color:white;
	border:none;
	cursor:pointer;
	vertical-align:middle;
}
#FeedWriteIcon{
	width:30px;
	height:30px;
}
.right{
	grid-area:right;
}
.footer{
	grid-area:footer;
}

.profile-image {
    width: 200px;
    height:200px; 
    border-radius: 70%;
    overflow: hidden;
    margin: auto;
    margin-top: 7vh;
    border: solid 2px black !important;
    
}

.img-thumbnail1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#profile-nickname {
	margin-top: 10px;
	color: black;	
	font-weight:bold;
	font-size:25px;
	text-align:center;
}
#profile-birth {
	margin-top: 5px;
	color: black;		
	font-size:18px;
	text-align:center;
}
#profile-email {
	margin-top: 5px;
	color: black;	
	font-size:18px;
	text-align:center;
}
.button-frame{
	text-align:center;
	margin-top:10px;
	
}
#updateProfile{
	text-align:center;
}
#imgPopBtn{
	background-color:white;
	border:none;
	cursor:pointer;
}
#cameraIcon{
	width:28px;
	height:22px;
}
#messagePopBtn{
	background-color:white;
	border:none;
	cursor:pointer;
}
#chatIcon{
	width:28px;
	height:21px;
}
#intro{
	margin-top: 0px;
	color: black;	
	font-size:18px;
	text-align:left;	
}
#updateForm{
	margin-top: 10px;
	display:none;
	text-align:center;
}
#postIntro{
	width:50px;
	height:35px;
	vertical-align:middle;
	background-color:black;
	color:white;
}
textarea{
	vertical-align:middle;
	width:370px;
	resize:none;
}
#updateForm{
	
}
#interestTags{
	margin-top: 0px;
	color: black;	
	font-size:18px;
	text-align:left;	
}