.container1{
	display: grid;
	grid-template-columns: 10vw 30vw 50vw 10vw;
	grid-template-rows:  60vh 40vh;
	height: 100vh;
	grid-template-areas:
						'left picture content right'
						'left info content right';
	margin-bottom:2.0em;
					
}
.container1 div {
	background-color: white;
	border: none;
}
a{
	text-decoration:none;
}
a:link{
	color:black; text-decoration:none;
}
a:visited{
	color:black; text-decoration:none;
}
.header{
	grid-area:header;
}
.left{
	grid-area:left;
}
.picture{
	grid-area:picture;
}

.info{
	grid-area:info;
}
.content{
	grid-area:content;
}
.feed-frame{
	padding:10px;
	margin-top:10px;
}
#nick{
	font-size:20px;
	font-weight:bold;
}
#regi{
	font-size:15px;
	color:gray;
}
#feed-img-frame{
	width:556px;
}
#feed-img{
	width:100%;
	height:100%;
}
.infinite-list{
  /* We need to limit the height and show a scrollbar */
  width: 600px;
  height: 800px;
  overflow: auto;

  /* Optional, only to check that it works with margin/padding */
  margin: auto;
  margin-top:20px;
  padding: 20px;
  border: 5px groove;
}

.right{
	grid-area:right;
}
.footer{
	grid-area:footer;
}

.profile-image {
    width: 200px;
    height:200px; 
    border-radius: 70%;
    overflow: hidden;
    margin: auto;
    margin-top: 7vh;
    
}

.img-thumbnail1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#profile-nickname {
	margin-top: 20px;
	color: black;	
	font-weight:bold;
	font-size:25px;
	text-align:center;
}
#profile-birth {
	margin-top: 5px;
	color: black;		
	font-size:18px;
	text-align:center;
}
#profile-email {
	margin-top: 5px;
	color: black;	
	font-size:18px;
	text-align:center;
}
.button{
	text-align:center;
	margin-top:5px;
	
}
#btn1{
	
}
#btn2{
	
}
#btn3{
	
}
#btn4{
	
}
#intro{
	margin-top: 0px;
	color: black;	
	font-size:18px;
	text-align:left;	
}
#FavBooks{
	margin-top: 3px;
	color: black;	
	font-size:18px;
	text-align:left;	
}
/*-----------------------------  */
/* #divContent {
	width:400px;
	display:block;
	margin: 0 auto;
	border: 2px solid black;
	text-align: center;
}

#listEnd {
	width:400px;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 2px solid black;
	text-align: center;
}
.item{
	width:300px;
	height:50px;	
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid black;
	text-align: center;
	line-height: 50px;
} */